.popup-wrap
  position: fixed
  width: 100%
  height: 100vh
  overflow: auto
  z-index: 11
  background: white
  display: none
  z-index: 12
  &.opened
    display: block
  

  .close-popup-btn
    +x-align
    width: 50px
    height: 50px
    top: 0
    background: $green
    +transition(.25s)
    cursor: pointer
    z-index: 1
    svg
      +centered-inside
      +transition(.25s)
      width: 14px
      height: 14px
    &:hover
      background: $dark
      svg
        fill: $green

  .inner-holder
    +y-align
    width: 100%
    margin: 100px 0

.calculator-wrap
  position: relative
  background: $blueGrey50
  padding: 30px
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.25)
  h2, h3
    text-transform: uppercase
    margin-bottom: 20px
    letter-spacing: 4px
    svg
      margin-left: 20px
  .smaller
    margin-bottom: 20px
    a
      color: $green
      font-weight: 700
  .warning-field
    position: relative
    border-top: 1px solid $blueGrey100
    border-bottom: 1px solid $blueGrey100
    svg
      position: absolute
      top: 20px
      left: 0
    p
      font-size: 14px
      text-transform: uppercase
      width: 500px
      max-width: 100%
      padding: 20px 0 20px 40px
  .static-label
    font-size: 18px
    font-weight: 700
    margin: 40px 0 20px
  input[type="radio"]
    display: none
    & + label
      cursor: pointer
    &:checked + label
      .radio-label
        p
          color: $green
  .radio-label
    position: relative
    border: 2px solid $blueGrey200
    svg
      position: absolute
      top: 0
      left: 0
      margin: 20px
    p
      margin-left: 62px
      border-left: 2px solid $blueGrey200
      color: $blueGrey300
      padding: 20px 0
      font-weight: 700
      text-align: center
      letter-spacing: 1px

  .nice-select
    margin-bottom: 30px
    height: 64px
    line-height: 64px

  .btn
    display: block
    text-align: center

.details-info
  margin-top: 20px
  text-align: center
  p
    font-size: 13px
    color: $blueGrey300
    font-style: italic
    a
      font-style: normal
      color: black
      font-weight: 700
      letter-spacing: 2px