table
  width: 100%
  margin: 30px 0
  tr
  th
    background: $dark
    color: $green
    font-weight: 700
  td
    color: $blueGrey700
  td,th
    padding: 10px 30px
    text-align: center
    border: 1px solid $blueGrey200
