.banner-wrap.inside-article

  .img-bg style="background-image: url('http://lorempixel.com/1600/960/')"

  .inner
    p.banner-title Виробництво металоконструкцій «ЗРН» сертифіковане згідно EN 1090 !!!